@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider


@{ 
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();

}


        <header>
            <section class="navbar-topmenu">
                <div class="container">          
                    <div class="section-one">
                        <div class="company-fact">
                            <span class="fact-content"><i class="fa-regular fa-phone-volume"></i>+46 (8) 125 480 60</span>
                            <span class="fact-content"><i class="fa-regular fa-envelope"></i>info@crito.com</span>
                            <span class="fact-content"><i class="fa-sharp fa-regular fa-location-dot"></i>Stockholmsvägen 50, 123 45 Malmö</span>
                        </div>
                        <div class="media">
                            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                    <a href="/home"><img class="logo" src="images/logos/logotype.svg"></a>
                    <div class="section-two">
                        <div class="links-topmenu">
                            <a class="@(Model.Id == site.Id ? "active" : null)" href="@site.Url()">@site.Name</a>
                        
                            @if (selection?.Length > 0)
                            {
                                @foreach (var item in selection)
                                {   
                                    <a class="@(item.IsAncestorOrSelf(Model) ? "active": null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                                    
                                }
                            }

                        </div>
                        <a class="button-login" href="login.html">Login <i class="fa-solid fa-arrow-trend-up"></i></a>
                    </div>
                </div>
            </section>
        </header>
     