@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<section class="showcase-one">
    <div class="container">
        <div class="content">
            <div class="first-title">@Model.Value("showcaseTitle")</div>
            <div class="info"> @Model.Value("showcaseDescription")</div>
            <div class="buttons">
                <a class="get" href="@Model.Value("showcaseButtonUrl")">@Model.Value("showcaseButton") Get Consulting<i class="fa-solid fa-arrow-trend-up"></i></a>
                <a class="learn" href="/service">Learn More <i class="fa-solid fa-arrow-trend-up"></i></a>
            </div>
        </div>
        <div class="showcase-image">

            @{
                var showcaseImage = Model.Value<MediaWithCrops>("showcaseImage");
                if (showcaseImage != null)
                {
                    <img src="@showcaseImage.MediaUrl()" alt="@Model.Value("showcaseTitle")" />
                }
            }
        </div>
    </div>
        <div class="showcase-wave-image">
            <img src="images/details/background-lines.svg" alt="">
        </div>
</section>



