@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticleListPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;

@{
	Layout = "_MasterLayoutBreadcrumb.cshtml";

    var itemsPerPage = 6; 
  
    var pageNumber = 1;
    
    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        pageNumber = 1;

    
    
    var selection = Umbraco?.Content(Guid.Parse("7c3e43dd-b960-49d3-98ca-c1c080a86c8f"))?
        .ChildrenOfType("articleContentPage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList(); 


        var totalitems = selection?.Count() ?? 0;
        var pageditems = selection?.Skip((pageNumber -1) * itemsPerPage).Take(itemsPerPage);

}

<!-- Our News And Articles-->
<div class="wrapper-news">
    <div class="container-news">
        <!-- Header Section -->
        <div class="header-news">
            <h1>Our News & Articles</h1>
        </div>

        <!-- Carousel Section -->
        <div id="carouselNewsControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Page 1 -->
                <div class="carousel-item active">
                    <div class="wrapper-cards-news">

                @if(pageditems != null)
                {
                        @foreach (var item in pageditems!)
                	{
                	    var url = item.Url();
                	    var date = item.CreateDate;
                	    var image = item.Value<IPublishedContent>("newsImage");
                	    var category = item.Value("newsCategory");
                	    var title = item.Name();
                	    var description = item.Value("newsPreamble");

                        <a class="card-link" href="@url">
                            <div class="card-body-news">
                                <div class="date-stamp">@date.ToString("dd")</div>
                                <div class="date-month">@date.ToString("MMM")</div>
                                <img class="linkedin-female" src="@image?.Url()" alt="">
                                <p>@category</p>
                                <h6>@title</h6>
                                <p>@description</p>
                            </div>
                        </a>
                	}

                }

                    </div>
                </div>
   



            </div>
        </div>
        <!-- Pagination Section -->
        <div class="carousel-controls-container">
            @if (pageNumber > 1)
         {
            <button class="carousel-control-prev" type="button" onclick="window.location.href='?page=@(pageNumber - 1)'">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
         }

            @for (int i = 1; i <= Math.Ceiling((decimal)totalitems / itemsPerPage); i++)
            {
                if (i == pageNumber) { <a href="#" class="item-page-number active">@i</a>}
                else { <a href="?page=@i" class="item-page-number">@i</a>}
            
            }


            @if (pageNumber <Math.Ceiling((decimal)totalitems / itemsPerPage))
         {
            <button class="carousel-control-next" type="button" onclick="window.location.href='?page=@(pageNumber + 1)'">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
         }
        </div>

    </div>
    </div>


