@using Crito.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_MasterLayoutBreadcrumb.cshtml";

    var contactForm = new Crito.Models.ContactForm();  //Här skapar vi modellen
}


    <!-- Form Section -->
<section class="contact-section">
    <div class="content-container">
        <div class="info-section">
            <div class="info-box">
                <i class="fa-regular fa-location-dot"></i>
                <div class="text-section">
                    <h6>Visit Us</h6>
                    <p>@Model.Value("contactInformationStreetName")</p>
                    <p>@Model.Value("contactInformationCity")</p>
                </div>
            </div>
            <div class="info-box">
                <i class="fa-solid fa-mobile-retro"></i>
                <div class="text-section">
                    <h6>Call Us</h6>
                    <p>@Model.Value("contactInformationPhoneNumber1")</p>
                    <p>@Model.Value("contactInformationPhoneNumber2")</p>
                </div>
            </div>
            <div class="info-box">
                <i class="fa-regular fa-envelope"></i>
                <div class="text-section">
                    <h6>Email Us</h6>
                    <p>@Model.Value("contactInformationEmail1")</p>
                    <p>@Model.Value("contactInformationEmail2")</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <h1>Contact Us For Any Questions</h1>

        @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post)) //Måste använda denna metoden istället för form i umbraco. 
        {

            //<form id="contactForm" asp-controller="Contacts" asp-action="Index" method="post" noValidate> //</form> 
            
            <div asp-valdation-summary="ModelOnly"></div>

            <input asp-for="@contactForm.Name" type="text" id="name" placeholder="Name*" required>
            <div id="name-error" class="error-message"></div>
            
            <input asp-for="@contactForm.Email" type="email" id="email" placeholder="Email*" required>
            <div id="email-error" class="error-message"></div>
            
            <textarea asp-for="@contactForm.Message" id="message" placeholder="Your Message*"></textarea>
            <div id="message-error" class="error-message"></div>
                <button type="submit">Send</button>
            <div id="thank-you-message" class="thank-you-message"></div>
        }
    </div>
</section>



<!-- Map Section -->
<section class="map">
    <iframe src="@Model.Value("googleMapsURL")" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

 <!-- Map end -->


    

